/* GENERAL */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* VIDEO */
#video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

/* TOP BAR (hora + iconos iPhone) */
#status-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 26px;
    z-index: 50;
}

/* ICONO USUARIO (KALAL) */
#user-icon {
    position: fixed;
    top: 40px;
    left: 25px;
    width: 130px;       /* TAMAÑO FINAL */
    z-index: 50;
}

/* LIVE STREAMING (parpadeo) */
#live-badge {
    position: fixed;
    top: 40px;
    right: 25px;
    width: 250px;       /* EXACTO A LA MAQUETA */
    display: none;
    z-index: 50;
    animation: blink 1s infinite ease-in-out;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0.25;}
    100% {opacity: 1;}
}

/* VIEWERS */
#viewers-box {
    position: fixed;
    top: 115px;
    left: 25px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 28px; /* AJUSTADO */
    z-index: 50;
}

#eye-icon {
    width: 55px; /* AJUSTADO */
    margin-right: 10px;
}

/* COMENTARIOS */
#comments {
    position: fixed;
    bottom: 150px;
    left: 25px;
    color: white;
    font-size: 34px;
    display: flex;
    flex-direction: column-reverse; /* Empiezan desde abajo */
    gap: 5px;
    max-height: 350px;
    z-index: 50;
    text-shadow: 2px 2px 5px black;
}

/* ICONOS INFERIORES */
#bottom-icons {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px; /* SEPARACIÓN EXACTA */
    z-index: 50;
}

.bottom-btn {
    width: 95px;     /* TAMAÑO FINAL */
}
