body {
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: sans-serif;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* USER ICON */
#user-box {
    position: absolute;
    top: calc(env(safe-area-inset-top) - 10px);
    left: 1px;
    z-index: 9999;
}

#user-icon {
    width: 130px;
    height: auto;
}

/* VIEWERS */
.viewers-box {
    position: absolute;
    top: calc(env(safe-area-inset-top) + 45px);
    left: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
    z-index: 9999;
}

.eye-icon {
    width: 40px;
}

#viewers-count {
    font-size: 15px;
    color: white;
}

.viewers-label {
    font-size: 14px;
    color: white;
    opacity: 0.9;
}

/* LIVE BADGE */
#live-badge {
    position: absolute;
    top: calc(env(safe-area-inset-top) + 4px);
    right: 4px;
    background: #C1272D;
    color: white;
    padding: 10px 25px;
    border-radius: 22px;
    font-size: 16px;
    font-weight: bold;
    display: none;
    animation: blink 1.3s infinite;
    z-index: 9999;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.45; }
    100% { opacity: 1; }
}

/* COMMENTS */
#comments {
    position: absolute;
    bottom: 115px;
    left: 15px;
    color: white;
    font-size: 17px;
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
    z-index: 9999;
}

/* BOTTOM CONTROLS */
.controls {
    position: absolute;
    bottom: calc(env(safe-area-inset-bottom) + 16px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0px;
    z-index: 9999;
}

.control-btn {
    width: 100px;   /* NUEVO TAMAÑO EXACTO */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-btn img {
    width: 100px;   /* NUEVO TAMAÑO EXACTO */
    height: 100px;
}
