body, html {
    margin: 0;
    padding: 0;
    background: black;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}

video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* ICONO USUARIO */
#user-box {
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 10;
}

#userIcon {
    width: 120px; 
    height: auto;
}

/* VIEWERS */
#viewers-box {
    position: absolute;
    top: 125px; /* just 1px debajo del userIcon */
    left: 4px;
    display: flex;
    align-items: center;
    gap: 6px;
    z-index: 10;
}

#eyeIcon {
    width: 40px;
    height: auto;
}

#viewersNumber {
    color: white;
    font-size: 21px;
    font-weight: 300;
}

#viewersLabel {
    color: white;
    font-size: 20px;
    opacity: 0.8;
}

/* LIVE STREAMING */
#liveContainer {
    position: absolute;
    top: 1px;  
    right: 1px; 
    display: none;
    z-index: 10;
}

#liveIcon {
    width: 240px; 
    height: auto;
    animation: blink 1.3s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: .45; }
    100% { opacity: 1; }
}

/* COMMENTS */
#comments {
    position: absolute;
    bottom: 150px;
    left: 10px;
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    gap: 6px;
    z-index: 10;
}

.comment {
    color: white;
    font-size: 27px;  /* más pequeños */
    font-weight: 400;
    text-shadow: 0px 0px 6px black;
}

/* ICONOS INFERIORES */
#bottomIcons {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0px;  /* sin separación */
    z-index: 10;
}

.btnIcon {
    width: 120px; /* MÁS GRANDES */
    height: auto;
}
