body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  height: 100%;
  width: 100%;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}

/* VIDEO A PANTALLA COMPLETA */
#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ICONO USUARIO */
#userIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 85px;
}

/* VIEWERS */
#eyeIcon {
  position: absolute;
  top: 95px;
  left: 14px;
  width: 28px;
}

#viewersNumber {
  position: absolute;
  top: 92px;
  left: 52px;
  font-size: 19px;
  color: white;
}

#viewersLabel {
  position: absolute;
  top: 114px;
  left: 52px;
  font-size: 14px;
  color: white;
}

/* LIVE STREAMING */
#liveIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 150px;
}

/* COMENTARIOS */
#commentsBox {
  position: absolute;
  bottom: 150px;
  left: 15px;
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

/* ICONOS INFERIORES */
#bottomBar {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0px;
}

#bottomBar img {
  width: 120px;
}
