body {
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: sans-serif;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* USER */
#user-box {
    position: absolute;
    top: calc(env(safe-area-inset-top) + 1px);
    left: 1px;
    display: flex;
    align-items: center;
    gap: 6px;
    z-index: 9999;
}

#user-box img {
    width: 40px;
}

#username {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

/* VIEWERS */
.viewers-box {
    position: absolute;
    top: calc(env(safe-area-inset-top) + 46px);
    left: 4px;
    display: flex;
    align-items: center;
    gap: 6px;
    z-index: 9999;
}

.eye-icon {
    width: 32px;
}

#viewers-count {
    font-size: 17px;
    color: white;
}

.viewers-label {
    font-size: 15px;
    color: white;
    opacity: 0.85;
}

/* LIVE STREAMING BADGE */
#live-badge {
    position: absolute;
    top: calc(env(safe-area-inset-top) + 1px);
    right: 1px;
    background: #C1272D;
    color: white;
    padding: 6px 18px;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
    display: none;
    animation: blink 1.3s infinite;
    z-index: 9999;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.45; }
    100% { opacity: 1; }
}

/* COMMENTS */
#comments {
    position: absolute;
    bottom: 105px;
    left: 15px;
    color: white;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    z-index: 9999;
}

/* CONTROLS */
.controls {
    position: absolute;
    bottom: calc(env(safe-area-inset-bottom) + 1px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0px;
    z-index: 9999;
}

.control-btn {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-btn img {
    width: 64px;
    height: 64px;
}
