body {
    margin: 0;
    overflow: hidden;
    background: black;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* ---------- TOP LEFT ---------- */

#top-left {
    position: absolute;
    top: 4px;                 /* MÁS ARRIBA */
    left: 4px;
    display: flex;
    align-items: center;
    gap: 6px;                 /* MENOR ESPACIO */
}

#userIcon {
    width: 85px;              /* AJUSTE FINAL */
    height: auto;
}

#stats {
    display: flex;
    flex-direction: column;
    margin-top: -2px;         /* BAJA 2PX EL TEXTO */
}

#viewersLine {
    display: flex;
    align-items: center;
    gap: 4px;
}

#eyeIcon {
    width: 42px;
    height: auto;
}

#viewersText {
    color: white;
    font-size: 23px;          /* 1 PX MÁS PEQUEÑO */
    font-weight: 400;
}


/* ---------- LIVE BUTTON ---------- */

#liveContainer {
    position: absolute;
    top: 5px;               /* MÁS SEPARADO DEL BORDE */
    right: 6px;
}

#liveIcon {
    width: 255px;           /* UN POCO MÁS PEQUEÑO */
    height: auto;
    animation: blink 1.4s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.45; }
    100% { opacity: 1; }
}


/* ---------- COMMENTS ---------- */

#comments {
    position: absolute;
    bottom: 160px;
    left: 10px;
    color: white;
    font-size: 31px;      /* UN PELÍN MÁS GRANDE */
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* ---------- BOTTOM ICONS ---------- */

#bottomIcons {
    position: absolute;
    bottom: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0px;              /* SIN ESPACIO ENTRE ÍCONOS */
}

.btnIcon {
    width: 120px;          /* SUBIDOS A 120px */
    height: auto;
}
